:root {
    --primary-color: #3a86ff;
    --border: 1px solid lightgray;
    --primary-text-color: white;
    --spacing-0-5: 0.5rem;
    --spacing-1: 1rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;
    --spacing-4: 4rem;
    --container-spacing: 2rem;
    --radius-sm: 6px;
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common typography styles */
body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

/* Shared styles */
.section-container {
    padding: var(--spacing-4) var(--container-spacing);
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-size: 2rem;
    margin-bottom: var(--spacing-1);
}

.button {
    display: inline-block;
    padding: var(--spacing-1);
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-radius: var(--radius-sm);
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;

    &:hover {
        filter: brightness(115%)
    }
}

.link {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        text-decoration: underline;
    }
}


/* Sections */

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: var(--primary-color);
    padding: 0 var(--spacing-1-5);
    height: var(--spacing-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    gap: var(--spacing-2);
}

.nav-link {
    position: relative;
    color: var(--primary-text-color);
    text-decoration: none;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: white;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover::after{
        opacity: 1;
        transform: translateX(0);
    }
}

.main {
    margin-top: var(--spacing-4);
}

.hero-section {
    display: flex;
    gap: var(--spacing-2);
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.hero-title {
    flex: 1;
    font-size: 2.5rem;
}

.hero-img-container {
    flex: 1;
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.services {
    display: flex;
    gap: var(--spacing-1);
    /* align-items: center; */
    /* flex-wrap: wrap; */

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.service-card {
    border: var(--border);
    padding: var(--spacing-1-5);
    border-radius: var(--radius-sm);
}

.service-card-title-wrapper {
    display: flex;
    gap: var(--spacing-0-5);
    align-items: center;
     margin-bottom: var(--spacing-0-5);
}

.service-card-icon {
    color: var(--primary-color);
}

.cases-wrapper {
    .case-card + .case-card {
        margin-top: var(--spacing-2);
    }
}

.case-card {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.case-card-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-sm);
}

.case-card-title {
    margin-bottom: var(--spacing-0-5);
}

.case-card-button {
    margin-top: var(--spacing-2);
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

.contact-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.contact-form {
    flex: 1;

    & > * + * {
        margin-top: var(--spacing-1);
    }
}

.input {
    display: block;
    width: 100%;
    padding: var(--spacing-0-5);
    border-radius: var(--radius-sm);
    border: var(--border);

    &:focus {
        outline: 2px solid var(--primary-color);
        outline-offset: 1px;
    }
}

.textarea {
    display: block;
    width: 100%;
    padding: var(--spacing-0-5);
    border-radius: var(--radius-sm);
    border: var(--border);
    resize: none;

    &:focus {
        outline: 2px solid var(--primary-color);
        outline-offset: 1px;
    }
}

.label {
    display: block;
    font-weight: 600;
    margin-bottom: var(--spacing-0-5);
}

.footer {
    background-color: lightgray;
}